@import url("./reset.css");
@import url("./variables.css");
@import url("./header.css");
@import url("./main.css");

body {
  background-color: var(--base--gray-200);

  font-family: var(--font-family);
}

button {
  cursor: pointer;
}

h2 {
  font: var(--subtitle-text-sm);
  text-transform: uppercase;
  color: var(--base--gray-500);
}
