.main {
  width: 912px;
  margin: 0 auto;

  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-areas:
    "user fidelity fidelity"
    "history fidelity fidelity"
    "history fidelity fidelity"
    "history status status";
  gap: 1rem 2rem;

  > div {
    background-color: var(--base--gray-100);
    border: 1px solid var(--base--gray-300);
    border-radius: 1rem;

    padding: 1rem;
  }

  .user {
    grid-area: user;

    display: flex;
    align-items: center;

    gap: 1rem;

    h1 {
      font: var(--title-text-sm);
      color: var(--base--gray-600);
    }

    p {
      font: var(--body-text-xs);
      color: var(--base--gray-500);
    }
  }

  .history {
    grid-area: history;
    max-height: 360px;

    overflow-y: scroll;

    .history__header {
      display: flex;
      justify-content: space-between;
      align-items: center;

      border-bottom: 1px solid var(--base--gray-300);
      padding-bottom: 1rem;

      span {
        font: var(--body-text-xs);
        color: var(--base--gray-500);
      }
    }

    .history__body {
      padding-top: 1rem;

      .history-item {
        display: flex;
        justify-content: space-between;

        .history-item__dates {
          .history-item__date {
            font: var(--subtitle-text-sm);
            color: var(--base--gray-600);
          }

          .history-item__time {
            font: var(--body-text-xs);
            color: var(--base--gray-500);
          }
        }

        .history-item__check {
          width: 2rem;
          height: 2rem;
          padding: 0.25rem;
          border-radius: 50%;
          line-height: 0;
          background-color: var(--main--green-opacity);

          img {
            object-fit: contain;
            max-width: 100%;
            height: auto;
          }
        }

        &:not(:last-child) {
          padding-bottom: 0.75rem;
        }
      }
    }
  }

  .fidelity {
    grid-area: fidelity;

    padding: 2rem;

    .fidelity-header {
      display: flex;
      justify-content: space-between;
      align-items: center;
    }

    .fidelity-header__text {
      h2 {
        padding-bottom: 0.25rem;
      }

      p {
        font: var(--body-text-sm);
        color: var(--base--gray-500);
      }
    }

    .id-tag {
      background-color: var(--base--gray-300);
      padding: 0.5rem 0.75rem;
      border-radius: 20px;

      color: var(--base--gray-500);
      font: var(--subtitle-text-md);
    }

    .fidelity-marks {
      margin-top: 2rem;
      display: grid;
      grid-template-columns: repeat(5, 1fr);
      gap: 1rem;

      > div {
        height: 88px;

        display: flex;
        justify-content: center;
        align-items: center;

        background-color: var(--base--gray-200);
        border-radius: 1.25rem;
      }
    }
  }

  .status {
    grid-area: status;
    display: flex;
    justify-content: space-between;
    align-items: center;

    padding: 27px 32px;

    p {
      font: var(--body-text-sm);
      color: var(--base--gray-500);
      margin-block-end: 12px;
      b {
        padding-inline-end: 4px;
        font: var(--title-text-md);
        color: var(--base--gray-600);
      }
    }

    .status-image-wrapper {
      display: grid;
      place-items: center;

      width: 72px;
      height: 72px;
      background-color: var(--base--gray-200);

      border-radius: 50%;
    }
  }
}
